
.listingSection{
    padding-bottom: 80px;
}

.listing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.products{
    height: 270px;
    width: 270px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items:end;
    padding-bottom: 30px;
}

.listHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}

.listHead ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption{
    font-size: 16px;
    font-weight: 300;
}

.rate{
    font-size: 16px;
    font-weight: 700;
}

.productListings{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options {
    display: flex;
    gap: 40px;
    opacity: 0;
    transform: translateY(30px); /* Start from below the visible area */
    transition: opacity 0.5s, transform 0.5s; /* Add smooth transition */
  }  

  .productListings:hover .options {
    opacity: 1;
    transform: translateY(0); /* Slide to its original position */
    animation: shake 0.5s ease-in-out; /* Trigger shaking effect */
  }
  
  /* Slide up animation */
  @keyframes slideUpShake {
    0% {
      opacity: 0;
      transform: translateY(100px); /* Start off the screen */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Slide to its original position */
    }
  }
  
  /* Shaking effect */
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    20%, 60% {
      transform: translateX(-10px);
    }
    40%, 80% {
      transform: translateX(10px);
    }
  }
  

.options i {
    padding: 10px;
    background: white;
    border-radius: 50%;
}